<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>

	<!-- STYLES BEGIN -->
	<% for (let index=0, length=htmlWebpackPlugin.files.css.length; index < length; index++) { %>
	<link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[index] %>">
	<% } %>
	<!-- END OF STYLES -->
</head>

<body>
	<div id="app"></div>

	<!-- SCRIPTS BEGIN -->
	<% for (let index=0, length=htmlWebpackPlugin.files.js.length; index < length; index++) { %>
	<script src="<%= htmlWebpackPlugin.files.js[index] %>"></script>
	<% } %>
	<!-- END OF SCRIPTS -->
</body>

</html>
